@media (max-width: 768px) {
  body {
    font-size: 16px;
  }

  .container {
    max-width: 768px;
    padding: 0 50px;
  }

  .form {
    min-height: 570px;
    padding-top: 24px;
    padding-bottom: 14px;
  }

  .form::before {
    min-height: 570px;
  }

  .form__title,
  .form__input-box,
  .form__description,
  .form__label,
  .form__date {
    margin-bottom: 26px;
  }

  .choices {
    margin-bottom: 16px;
  }

  .form__date {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .form__date-item:first-child {
    margin-bottom: 16px;
  }  

  .form__date-item {
    width: 100%;
  }

  .form__btn {
    max-width: 120px;
  }
}

@media (max-width: 460px) {
  body {
    font-size: 12px;
  }

  .container {
    max-width: 560px;
    padding: 0 15px;
  }

  .form {
    min-height: 500px;
    padding-top: 24px;
    padding-bottom: 14px;
  }

  .form::before {
    min-height: 500px;
  }

  .form__title,
  .form__input-box,
  .form__description,
  .form__date {
    margin-bottom: 16px;
  }

  .choices {
    margin-bottom: 16px;
  }

  .form__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
  }

  .form__input {
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .choices__inner {
    height: 45px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__date-item {
    height: 45px;
    padding: 14px;
    padding-left: 45px;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  .form__input::-moz-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  .form__input:-ms-input-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  .form__input::-ms-input-placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  .form__input::placeholder {
    font-size: 12px;
    font-weight: 500;
  }

  .form__label {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 20px;
  }

  .form__label-item {
    width: 25px;
    height: 25px;
  }

  .form__label-item:not(:last-child) {
    margin-right: 10px;
  }

  .form__description {
    text-align: left;
  }

  .form__label-text {
    margin-bottom: 2px;
  }

  .form__footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .form__btn_cancel {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .form__btn {
    height: 40px;
    width: 100%;
    min-width: 120px;
    padding: 8px 12px 8px;
  }
}
