html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;
  color: var(--color-text);
  background-color: var(--color-background);
}

@font-face {
  font-family: 'Public Sans';
  src: local('PublicSansMedium'),
    url('../fonts/PublicSansMedium.woff2') format('woff2'),
    url('../fonts/PublicSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Public Sans';
  src: local('PublicSansSemiBold'),
    url('../fonts/PublicSansSemiBold.woff2') format('woff2'),
    url('../fonts/PublicSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
} 

@font-face {
  font-family: 'Public Sans';
  src: local('PublicSansBold'),
    url('../fonts/PublicSansBold.woff2') format('woff2'),
    url('../fonts/PublicSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-background: #DBDCEE;
  --color-text: #757575;
  --color-white: #fff;
  --color-promo: #5F65F6;
  --color-active: #6153CC;
}

/* glob */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1920px;
  padding: 0 75px;
  padding-top: 100px;
  margin: 0 auto;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* form */
.form {
  position: relative;
  width: 475px;
  min-height: 597px;
  margin: 0 auto;
  padding-top: 32.7px;
  padding-bottom: 24px;
  background-color: var(--color-white);
  box-shadow: 0px 11.6189px 124.28px rgba(37, 72, 153, 0.17);
  border-radius: 23.2px;
}

.form::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 474px;
  min-height: 597px;
  background-color: transparent;
  border: 2px solid var(--color-white);
  border-radius: 23.2px;
  transform: rotate(2deg);
}

.form__body {
  padding-left: 23px;
  padding-right: 23px;
}

.form__title {
  margin: 0;
  margin-bottom: 36px;
  color: #151515;
  font-size: 25px;
  font-weight: 700;
  line-height: 31px;
}

.form__input-box {
  margin-bottom: 36px;
}

.form__input {
  padding-top: 10.56px;
  padding-bottom: 12px;
  width: 100%;
  border: none;
  border-bottom: 1px solid #757575;
  background-color: transparent;
  color: var(--color-text);
  transition: border-bottom .3s ease;
}

.form__input:hover {
  border-bottom: 1px solid var(--color-promo);
}

.form__input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--color-promo);
}

.form__input:active {
  outline: none;
  border-bottom: 1px solid var(--color-active);
}

.search__input::placeholder {
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
}

.form__description {
  margin-bottom: 36px;
}

.form__label-text {
  margin: 0;
}

.form__label {
  align-items: center;
  margin-bottom: 36px;
}

.form__label-item {
  height: 36px;
}

.form__label-icon circle {
  transition: stroke-opacity .3s ease;
}

.form__label-icon circle {
  stroke-opacity: 0;
}

.form__label-item:hover .form__label-icon circle {
  stroke-opacity: 1;
}

.form__label-icon path {
  stroke: transparent;
}

.form__label-icon:active path {
  stroke: var(--color-white);
}

.form__label-text {
  margin-right: 36px;
}

.form__label-item:not(:last-child) {
  margin-right: 16px;
}

.form__description {
  color: var(--color-text);
  transition: color .3s ease;
}

.form__description:focus-visible{
  outline: none;
  color: var(--color-promo);
}

.form__description:hover {
  color: var(--color-promo);
}

.form__description:active {
  color: var(--color-active);
}

.form__select {
  margin-bottom: 36px;
}

/* select */
.choices__inner {
  position: relative;
  z-index: 2;
  height: 50px;
  padding: 15px 21px 14px 14px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid rgba(86, 103, 137, 0.26);
  border-radius: 8px;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}

.choices:focus-visible {
  outline: none;
  background-color: #F5F7FB;
}

.choices__inner:hover {
  background-color: #F5F7FB;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  border: none;
  border-radius: 8px;
  font-size: 36px;
  color: #999999;
}

.choices[data-type*=select-one]:after {
  height: 8px;
  width: 8px;
  z-index: 3;
  top: 45%;
  border: 2px solid #151515;
  border-width: 0 0 2px 2px;
  -webkit-transform: translateX(-13px) rotate(-45deg);
      -ms-transform: translateX(-13px) rotate(-45deg);
          transform: translateX(-13px) rotate(-45deg);
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.choices[data-type*=select-one].is-open:after {
  top: 65%;
  border: 2px solid #151515;
  border-width: 2px 2px 0 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.is-open .choices__inner {
  border-radius: 8px;
}

.choices__placeholder {
  padding-left: 35px;
  opacity: 1;
  background-repeat: no-repeat;
  background-position: left center;
  background-position-y: -3px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20.2725 21.8782V19.8782C20.2725 18.8173 19.851 17.7999 19.1009 17.0497C18.3507 16.2996 17.3333 15.8782 16.2725 15.8782H8.27246C7.21159 15.8782 6.19418 16.2996 5.44403 17.0497C4.69389 17.7999 4.27246 18.8173 4.27246 19.8782V21.8782' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12.2725 11.8782C14.4816 11.8782 16.2725 10.0873 16.2725 7.87817C16.2725 5.66903 14.4816 3.87817 12.2725 3.87817C10.0633 3.87817 8.27246 5.66903 8.27246 7.87817C8.27246 10.0873 10.0633 11.8782 12.2725 11.8782Z' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.choices__list--dropdown .choices__placeholder {
  display: none;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 10px;
}

.choices__list--dropdown.is-active {
  border: 1px solid rgba(86, 103, 137, 0.26);
  border-radius: 8px;
  padding: 0;
}

.choices__list--dropdown .choices__item,
.choices__list[aria-expanded] .choices__item {
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 16px;
  background-color: var(--color-white);
  transition: color .3s ease;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: var(--color-white);
}

.choices__list[aria-expanded] .choices__item:hover {
  color: var(--color-promo);
}

.choices__list[aria-expanded] .choices__item:focus-visible {
  background-color: rgba(255, 255, 255, 0.2);
}

.choices__list--single {
  padding: 0;
}

.choices .choices__list .choices__item.is-selected {
  display: none;
}

/* form__date */
.form__date {
  justify-content: space-between;
  margin-bottom: 36px;
}

.form__date-item {
  width: calc(100% - 25px / 2);
  height: 50px;
  padding: 14px;
  padding-left: 45px;
  border: 1px solid rgba(86, 103, 137, 0.26);
  border-radius: 8px;
  font-weight: 500;
  font-size: 16px;
  color: var(--color-text);
  background-repeat: no-repeat;
  background-position: left center;
  background-position-y: 10px;
  background-position-x: 12px;
  background-image: url("data:image/svg+xml,%3Csvg width='25' height='25' viewBox='0 0 25 25' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.2725 4.48254H5.27246C4.16789 4.48254 3.27246 5.37797 3.27246 6.48254V20.4825C3.27246 21.5871 4.16789 22.4825 5.27246 22.4825H19.2725C20.377 22.4825 21.2725 21.5871 21.2725 20.4825V6.48254C21.2725 5.37797 20.377 4.48254 19.2725 4.48254Z' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M16.2725 2.48254V6.48254' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M8.27246 2.48254V6.48254' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M3.27246 10.4825H21.2725' stroke='%23151515' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
}

.form__date-item:hover {
  background-color: #F5F7FB;
}

.form__date-item:first-child {
  margin-right: 25px;
}

input[type=date]::-webkit-calendar-picker-indicator {
  display: none;
}

/* .form__footer */
.form__footer {
  position: relative;
  justify-content: center;
  padding-top: 25px;
}

.form__footer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-top: 1px solid var(--color-background);
}

.form__btn {
  width: 180px;
  padding: 11px 59px 12px;
  border-radius: 10.5px;
  font-weight: 600;
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.form__btn_cancel {
  margin-right: 20px;
  background-color: #F5F7FB;
  color: rgba(21, 25, 32, 0.5);
}

.form__btn_cancel:focus-visible {
  outline-offset: 2px;
  outline: 1px solid #F5F7FB;
}

.form__btn_cancel:hover {
  color: var(--color-white);
  background-color: var(--color-promo);
}

.form__btn_cancel:active {
  outline-offset: 2px;
  outline: 1px solid var(--color-background);
  background-color: var(--color-background);
}

.form__btn_save {
  background-color: var(--color-promo);
  color: var(--color-white);
}

.form__btn_save:focus-visible {
  outline-offset: 2px;
  outline: 1px solid var(--color-promo);
}

.form__btn_save:hover {
  background-color: var(--color-active);
}

.form__btn_save:active {
  outline-offset: 2px;
  outline: 1px solid var(--color-active);
  background-color: var(--color-active);
}

